@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies:wght@700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
.tituloFooter {
  font-family: "Rowdies", sans-serif;
}
.logoRollingBank {
  font-family: "Rowdies", sans-serif;
}
